#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: Arial, sans-serif;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form {
  margin-top: 20px;
}

select, input {
  margin-right: 10px;
  padding: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"] {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  padding: 8px;
}

form button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #168a80;
}

tr:nth-child(even) {
  background-color: #0f0202d5;
}